
.site-wrapper{
    width: 1000px;
    margin: 0 auto;
}

header  .header-inner {
    background: blue;
    font-size: 32px;
    text-align: center;
    padding: 30px 0;
}

header  .main-navigation .main-menu{
    list-style: none;

    background: aqua;
    padding: 0;
    margin: 0;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/*li.menu-item là li cấp 1*/
.main-navigation .main-menu li.menu-item{
    color: yellow;
    float: left;
    position: relative;


}

/*li.menu-item là li cấp 2, cấp 3 , cấp 4, ...*/
.main-navigation .main-menu li.submenu-item{
    position: relative;
}

/*khi hover vào thẻ li cấp 1*/
.main-navigation .main-menu li.menu-item:hover > ul.submenu{
    display: block;

}

/*khi hover vào thẻ li cấp 2 trở lên*/
.main-navigation .main-menu li.submenu-item:hover  ul.submenu{
    display: block;
}



.main-navigation .main-menu li a{
    color: black;
    font-size: 18px;
    display: block;
    background: chartreuse;
    text-decoration: none;
    padding: 10px 20px;
}

.main-navigation .main-menu li a:hover{
    background: brown;
}

/*begin menu*/

/*submenu nằm trong li.menu-item cấp 2 , cấp 3 , cấp 4 ,....*/

nav li.menu-item > .submenu{
    display: none;
    position: absolute;
    width: 300px;
    top: 40px;
    left: 0;
}

nav li.menu-item > .submenu .submenu{
    display: none;
    width: 300px;
    position: absolute;
    top: 0;
    left: 300px;

}

nav .submenu >li.submenu-item{
 border-bottom: 1px solid brown;
}

/*end submenu*/